{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input class="form-control" type="text" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="email" name="email" placeholder="E-mail" required>
                    </div>
                </div>

                <div id="shipping-info">
                    <hr>
                    <p>Shipping Informations :</p>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Adresse">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country">
                    </div>
                </div>

                <input id="form-button" class="btn btn-success btn-block my-3" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <div id="paypal-button-container" class="p-4"></div>
            <!-- <button id="make-payment" class="btn btn-primary"> Make paymet</button> -->
        </div>
        <br>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:1;padding: 5px"><img style="width:100%" class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p> {{item.product.name|capfirst}} </p></div>
                <div style="flex:1"><p> {{item.product.price|floatformat:2}} $ </p></div>
                <div style="flex:1"><p>x {{item.quantity}} </p></div>
            </div>
            {% endfor %}
            <br><hr style="border: 1.5px dashed gray"/>
            <h5> - Items: <strong> {{order.get_cart_items}} </strong></h5>
            <h5> - Total: <strong class="text-primary">$ {{order.get_cart_total|floatformat:2}} </strong></h5>
        </div>

    </div>
    
    <script src="{% static 'js/checkout.js' %}"></script>
    
    <!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>

        let total = '{{order.get_cart_total}}'
        let shipping = '{{order.shipping}}'

        // make payment configurations
        paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total) // Can reference variables or functions. Example: `value: document.getElementById('...').value`
                    }
                }]
            });
        },

        // Finalize the transaction after payer approval
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                submitFormData()
            });
        },

        style: {
            color: 'silver',    
        }

        }).render('#paypal-button-container');

    </script>

{% endblock content %}
    