{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">

{% for product in products %}
    <div class="col-lg-4 my-2">
        <img src="{{product.imageURL}}" class="thumbnail">
        <div class="box-element product">
            <h6><strong> {{product.name}} </strong></h6> <hr>
            <button class="btn btn-outline-success">Add to Cart</button>
            <a href="" class="btn btn-outline-info">View</a>
            <h3 class='price'> {{product.price|floatformat:2}} $</h3>
        </div>
    </div>
{% endfor %}


</div>

{% endblock content %}
    

